<?xml version="1.0" encoding="utf-8"?>
<rdf:RDF  xmlns = "http://purl.org/rss/1.0/" xmlns:cb = "http://www.cbwiki.net/wiki/index.php/Specification_1.1" xmlns:dc = "http://purl.org/dc/elements/1.1/" xmlns:dcterms = "http://purl.org/dc/terms/" xmlns:rdf = "http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation = "http://www.w3.org/1999/02/22-rdf-syntax-ns# rdf.xsd" >
<channel  rdf:about = "http://www.ecb.europa.eu/rss/pln.html">
<title>ECB | Polish zloty (PLN) - Euro foreign exchange reference rates</title>  
<link>http://www.ecb.europa.eu/home/html/rss.en.html</link>
<description>The reference rates are based on the regular daily concertation procedure between central banks within and outside the European System of Central Banks, which normally takes place at 2.15 p.m. (14:15) ECB time.</description>
<items>
<rdf:Seq>
<rdf:li rdf:resource="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-12&amp;rate=4.1844" />
<rdf:li rdf:resource="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-11&amp;rate=4.1915" />
<rdf:li rdf:resource="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-10&amp;rate=4.1930" />
<rdf:li rdf:resource="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-09&amp;rate=4.1952" />
<rdf:li rdf:resource="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-06&amp;rate=4.1983" />
</rdf:Seq>
</items>
<dc:publisher>European Central Bank</dc:publisher>
<dcterms:license>http://www.ecb.europa.eu/home/html/disclaimer.en.html</dcterms:license>
</channel>
<item rdf:about="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-12&amp;rate=4.1844">
<title xml:lang="en">4.1844 PLN = 1 EUR 2018-04-12 ECB Reference rate</title>
<link>http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-12&amp;rate=4.1844</link>
<description xml:lang="en">1 EUR buys 4.1844 Polish zloty (PLN) - The reference exchange rates are published both by electronic market information providers and on the ECB's website shortly after the concertation procedure has been completed. Reference rates are published according to the same  calendar as the TARGET system.</description>
<dc:date>2018-04-12T14:15:00+01:00</dc:date>
<dc:language>en</dc:language>
<cb:statistics>
<cb:country>U2</cb:country>
<cb:institutionAbbrev>ECB</cb:institutionAbbrev>
<cb:exchangeRate>
<cb:value frequency="daily" decimals="4">4.1844</cb:value>
<cb:baseCurrency unit_mult="0">EUR</cb:baseCurrency>
<cb:targetCurrency>PLN</cb:targetCurrency>
<cb:rateType>Reference rate</cb:rateType>
</cb:exchangeRate>
</cb:statistics>
</item>
<item rdf:about="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-11&amp;rate=4.1915">
<title xml:lang="en">4.1915 PLN = 1 EUR 2018-04-11 ECB Reference rate</title>
<link>http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-11&amp;rate=4.1915</link>
<description xml:lang="en">1 EUR buys 4.1915 Polish zloty (PLN) - The reference exchange rates are published both by electronic market information providers and on the ECB's website shortly after the concertation procedure has been completed. Reference rates are published according to the same  calendar as the TARGET system.</description>
<dc:date>2018-04-11T14:15:00+01:00</dc:date>
<dc:language>en</dc:language>
<cb:statistics>
<cb:country>U2</cb:country>
<cb:institutionAbbrev>ECB</cb:institutionAbbrev>
<cb:exchangeRate>
<cb:value frequency="daily" decimals="4">4.1915</cb:value>
<cb:baseCurrency unit_mult="0">EUR</cb:baseCurrency>
<cb:targetCurrency>PLN</cb:targetCurrency>
<cb:rateType>Reference rate</cb:rateType>
</cb:exchangeRate>
</cb:statistics>
</item>
<item rdf:about="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-10&amp;rate=4.1930">
<title xml:lang="en">4.1930 PLN = 1 EUR 2018-04-10 ECB Reference rate</title>
<link>http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-10&amp;rate=4.1930</link>
<description xml:lang="en">1 EUR buys 4.1930 Polish zloty (PLN) - The reference exchange rates are published both by electronic market information providers and on the ECB's website shortly after the concertation procedure has been completed. Reference rates are published according to the same  calendar as the TARGET system.</description>
<dc:date>2018-04-10T14:15:00+01:00</dc:date>
<dc:language>en</dc:language>
<cb:statistics>
<cb:country>U2</cb:country>
<cb:institutionAbbrev>ECB</cb:institutionAbbrev>
<cb:exchangeRate>
<cb:value frequency="daily" decimals="4">4.1930</cb:value>
<cb:baseCurrency unit_mult="0">EUR</cb:baseCurrency>
<cb:targetCurrency>PLN</cb:targetCurrency>
<cb:rateType>Reference rate</cb:rateType>
</cb:exchangeRate>
</cb:statistics>
</item>
<item rdf:about="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-09&amp;rate=4.1952">
<title xml:lang="en">4.1952 PLN = 1 EUR 2018-04-09 ECB Reference rate</title>
<link>http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-09&amp;rate=4.1952</link>
<description xml:lang="en">1 EUR buys 4.1952 Polish zloty (PLN) - The reference exchange rates are published both by electronic market information providers and on the ECB's website shortly after the concertation procedure has been completed. Reference rates are published according to the same  calendar as the TARGET system.</description>
<dc:date>2018-04-09T14:15:00+01:00</dc:date>
<dc:language>en</dc:language>
<cb:statistics>
<cb:country>U2</cb:country>
<cb:institutionAbbrev>ECB</cb:institutionAbbrev>
<cb:exchangeRate>
<cb:value frequency="daily" decimals="4">4.1952</cb:value>
<cb:baseCurrency unit_mult="0">EUR</cb:baseCurrency>
<cb:targetCurrency>PLN</cb:targetCurrency>
<cb:rateType>Reference rate</cb:rateType>
</cb:exchangeRate>
</cb:statistics>
</item>
<item rdf:about="http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-06&amp;rate=4.1983">
<title xml:lang="en">4.1983 PLN = 1 EUR 2018-04-06 ECB Reference rate</title>
<link>http://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-pln.en.html?date=2018-04-06&amp;rate=4.1983</link>
<description xml:lang="en">1 EUR buys 4.1983 Polish zloty (PLN) - The reference exchange rates are published both by electronic market information providers and on the ECB's website shortly after the concertation procedure has been completed. Reference rates are published according to the same  calendar as the TARGET system.</description>
<dc:date>2018-04-06T14:15:00+01:00</dc:date>
<dc:language>en</dc:language>
<cb:statistics>
<cb:country>U2</cb:country>
<cb:institutionAbbrev>ECB</cb:institutionAbbrev>
<cb:exchangeRate>
<cb:value frequency="daily" decimals="4">4.1983</cb:value>
<cb:baseCurrency unit_mult="0">EUR</cb:baseCurrency>
<cb:targetCurrency>PLN</cb:targetCurrency>
<cb:rateType>Reference rate</cb:rateType>
</cb:exchangeRate>
</cb:statistics>
</item>
</rdf:RDF>